/* univeral */

:root {
  --primary-color: #2f6168;
  --secondary-color: #fad07a;
  --third-color: #ffffff;
  --fourth-color: #000000;
}

body {
  background-color: var(--secondary-color);
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  text-align: center;
  padding-bottom: 3rem; /* Footer height */
}

.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  width: 100vw;
}

nav ul,
footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li,
footer li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1vw;
  display: block;
}

nav a:hover,
footer i:hover {
  color: var(--third-color);
  transition: 0.6s;
}

footer {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
}

footer ul {
  text-align: left;
  margin-left: 2rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--fourth-color);
}

figcaption {
  margin-top: 1rem;
}

/* home */
.basic-intro {
  float: left;
  margin-left: 20rem;
}

.basic-intro h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

.basic-intro ol {
  border-left: 5px solid var(--fourth-color);
  list-style: none;
  text-align: left;
}

.profile {
  width: 30%;
  border-radius: 50%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

/* about */
.about-me-text,
.about-me-imgs,
.about-me-personality {
  width: 70%;
  margin: 3rem auto 0 auto;
  text-align: left;
}

.about-me-text {
  margin-top: 6rem;
}

.about-me-personality {
  margin-bottom: 6rem;
}

.about-me-imgs figure {
  display: inline-block;
  width: 45%;
  margin: 0;
  padding: 0;
}

.about-me-imgs :nth-child(1) img {
  width: 50%;
}

.about-me-imgs :nth-child(2) img {
  width: 80%;
}

.about-me-personality video {
  width: 50%;
}

/* work */
.work-main {
  margin: auto;
  text-align: center;
}
.work-experience,
.education {
  width: 30%;
  margin: 3rem;
  text-align: left;
  display: inline-block;
}

.work-experience img,
.education img {
  width: 2rem;
}

.work-experience td,
.education td {
  padding: 0.5rem;
}

.arrow {
  text-align: center;
}

.graduation-photo {
  width: 80% !important;
}

.work-title {
  display: inline-block;
  margin-bottom: 1rem;
}

.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 5rem 1rem;
  background-color: var(--primary-color);
  color: var(--third-color);
  text-align: left;
}

.sidebar td {
  padding-top: 1rem;
}

.sidebar div {
  text-align: center;
}
.work-footer {
  background-color: var(--second-color);
}

.download-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  border: none;
  padding: 1rem 0.8rem;
  text-decoration: none;
  margin-top: 2rem;
  cursor: pointer;
}

.download-btn:hover {
  background-color: var(--third-color);
  transition: 0.6s;
}
