/* univeral */

:root {
  --primary-color: #2f6168;
  --secondary-color: #fad07a;
  --third-color: #ffffff;
  --fourth-color: #3b3b3b;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  color: var(--fourth-color);
}

body {
  background-color: var(--secondary-color);
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
th {
  font-family: "Playfair Display SC", serif;
}

p,
li,
td,
figcaption {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p,
li,
th,
td {
  font-size: 1.2rem;
}

h1,
p {
  margin-bottom: 1rem;
}

figure img {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
figure:hover img {
  opacity: 0.8;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  color: #858585;
}

.content-wrapper {
  text-align: center;
}

.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  width: 100vw;
}

nav ul,
footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li,
footer li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1vw;
  display: block;
}

nav a:hover,
footer i:hover {
  color: var(--third-color);
  transition: 0.6s;
}

.nav-bar {
  background-color: var(--primary-color);
  opacity: 80%;
  display: none;
}

.fas {
  font-size: 2rem;
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
}

footer ul {
  text-align: left;
  margin-left: 2rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--fourth-color);
}

figcaption {
  margin: 1rem auto 0.5rem;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
}

.audio-wrapper {
  text-align: left;
  position: absolute;
  bottom: 3rem;
}
audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}

/* Create two equal columns that sits next to each other */
.flex-column {
  flex: 50%;
  max-width: 50%;
}

/* home */
.home-main {
  margin: 3rem auto 6rem;
}
.basic-intro {
  float: left;
}

.basic-intro h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 5rem;
}

#moving-i {
  display: inline-block;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.basic-intro ol {
  border-left: 5px solid var(--fourth-color);
  padding-left: 2rem;
  list-style: none;
  text-align: left;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about */
.about-me-text,
.about-me-imgs,
.about-me-personality {
  width: 70%;
  margin: 3rem auto 0 auto;
  text-align: left;
}

.about-me-text {
  margin-top: 6rem;
}

.about-me-personality {
  margin-bottom: 6rem;
}

.about-me-imgs figure {
  display: inline-block;
  width: 45%;
  margin: 0;
  padding: 0;
}

.about-me-imgs :nth-child(1) img {
  width: 50%;
}

.about-me-imgs :nth-child(2) img {
  width: 80%;
}

.about-me-personality p {
  display: inline-block;
}
.about-me-personality video {
  width: 50%;
}

.cartoon-profile {
  border-radius: 50%;
  margin: 0.8rem;
  width: 15%;
  float: left;
  clear: both;
}

/* work */
.work-main {
  margin: 3rem 5rem;
  text-align: center;
}
.work-experience,
.education {
  text-align: left;
  display: inline-block;
}

.work-experience img,
.education img {
  width: 2rem;
}

.work-experience td,
.education td {
  padding: 1rem;
}

.arrow {
  text-align: center;
}

.work-title {
  display: inline-block;
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: bold;
}

.graduation-photo img {
  width: 80% !important;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 5rem 1rem;
  background-color: var(--primary-color);
  text-align: left;
}

.sidebar td,
.sidebar th {
  padding-top: 1rem;
  color: var(--third-color);
}

.sidebar div {
  text-align: center;
}
.work-footer {
  background-color: var(--secondary-color);
}

.download-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  border: none;
  padding: 1rem 0.8rem;
  text-decoration: none;
  margin-top: 2rem;
  cursor: pointer;
}

.download-btn:hover {
  background-color: var(--third-color);
  transition: 0.6s;
}

/* life */
.gallery-column figure {
  margin: 0.5rem 0 2rem;
  vertical-align: middle;
}

.gallery-column img,
.gallery-column article,
.gallery-column video {
  width: 95%;
  padding: 5px;
}

.fgallery-column article {
  text-align: left;
  padding-left: 1rem;
}

.painting {
  border-top: 1px dashed var(--fourth-color);
  padding-top: 3rem;
  margin-bottom: 3rem;
}

/* quote animation */

.quote {
  font-size: 1.6rem;
  padding: 2rem;
  animation: quote-move 1s linear infinite;
}

@keyframes quote-move {
  0%,
  60% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  70% {
    transform: translate(-2px, 0) skew(0deg);
  }
  65% {
    transform: translate(0, 0) skew(5deg);
  }
}

/* contact */
.contact-wrapper {
  background-color: var(--primary-color);
  width: 60%;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 15px;
  min-height: 50vh;
}

.contact-item {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #3e838c;
  color: #3e838c;
  outline: none;
  transition: border-color 0.2s;
}

.contact-item::placeholder {
  color: #3e838c;
}

.contact-item:focus {
  border-bottom-color: var(--third-color);
}

.contact-body-row {
  width: 100%;
}
.contact-body-row:nth-child(1) {
  text-align: left;
}
.contact-body-row h2 {
  color: var(--secondary-color);
}

/* Responsive layout for mobile */
@media (max-width: 720px) {
  /* font size */
  h1 {
    font-size: 2rem;
  }

  h2,
  nav a {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .basic-intro h1 {
    font-size: 3rem;
  }

  /* nav bar */
  nav {
    width: 30vw;
  }
  .nav-bar {
    display: inline-block;
  }
  nav li {
    display: block;
    width: 100%;
  }
  /* flex */
  .flex-column {
    flex: 90%;
    max-width: 90%;
  }

  /* home */
  .profile {
    margin-top: 2rem;
  }

  /* about */
  .about-me-text {
    margin-top: 2rem;
  }
  .about-me-imgs figure,
  .about-me-personality video {
    width: 80%;
  }

  /* work */
  .work-experience td,
  .education td {
    padding: 0.5rem;
  }

  .education {
    margin-top: 1rem;
  }
}

@media (max-width: 960px) {
  /* work sidebar */
  .work-main {
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar {
    width: 100%;
    position: static;
    padding: 0;
    background-color: var(--secondary-color);
    padding-bottom: 3rem;
  }

  .sidebar .download-btn {
    background-color: var(--primary-color);
    color: var(--third-color);
  }

  .sidebar .download-btn:hover {
    opacity: 0.9;
  }

  .sidebar table {
    display: none;
  }
}

/* welcome */

.welcome-wrapper {
  padding-top: 10rem;
  background-color: var(--primary-color);
  height: 100vh;
  text-align: center;
}

.welcome-wrapper section {
  margin: 1rem;
}

.welcome-counter {
  animation: counter 5s linear;
  text-align: center;
}

.welcome-counter::before {
  color: var(--third-color);
  content: counter(count);
  font-size: 8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 1, 0.5);
}

@keyframes counter {
  0% {
    counter-increment: count 5;
  }
  25% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 3;
  }
  75% {
    counter-increment: count 2;
  }
  100% {
    counter-increment: count 1;
  }
}

.welcome-headline,
.welcome-text {
  color: var(--third-color);
}

.welcome-headline {
  animation-name: jump-right;
}

.welcome-text {
  animation-name: jump-left;
}

.welcome-btn {
  animation-name: jump-rotate;
}

.welcome-headline,
.welcome-text,
.welcome-btn {
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes jump-right {
  0% {
    opacity: 0.2;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jump-left {
  0% {
    opacity: 0.2;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jump-rotate {
  0% {
    opacity: 0;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

/* styles for vue */
#app {
  margin: 0 100px;
}
.modal-div {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  transition: opacity 0.5s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem 3rem;
  min-height: 70%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: #f0f0f0;
  transition: all 0.2s ease;
}

.modal-leave-active {
  opacity: 0;
}

.modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.portfolio-image-div {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.portfolio-image-div img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 400px;
  transition: transform 0.5s;
}

.static-portfolio-image:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.modal-close {
  cursor: pointer;
  position: relative;
  top: 5%;
  left: 5%;
  padding: 10px;
  transform: translate(0%, -50%);
  float: right;
}

.modal-div h3,
.modal-div p {
  text-align: center;
  margin: 1rem;
}

.modal-div a {
  text-decoration: none;
}
